.chat-side
  .side-bar
    .side-bar__box
      %p.side-bar__box__user-name
      aaa
      %ul.side-bar__box__icon
        %li.side-bar__box__icon__new-group
          =link_to "#" do
            =icon('fa', 'edit')
        %li.side-bar__box__icon__edit-user
          =link_to "#" do
            =icon('fa', 'cog')
  .groups
    =link_to "#", class: "group" do
      %p.group__group-name
        aaa
      %p.group__latest-message
        hello